.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000d0;
  padding: 20px;
  width: 100vw;
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 3px 10px rgb(20, 20, 20);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
}

.navbar a.active {
  text-decoration: underline;
  font-weight: bold;
}

.navbar a:hover {
  opacity: 0.8;
  
}